.faqSupport {
  padding: 2rem 5rem;
  button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    text-align: left;
    padding: 0 0.5rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &::before {
      content: "+";
      margin-right: 0.625em;
      transition: transform 0.3s ease;
      color: #000;
      text-align: center;
      // leading-trim: both;
      // text-edge: cap;

      /* Bullet FAQ */
      font-family: Inter;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 0.12em;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  div {
    margin-bottom: 0.5rem;

    & > div {
      margin-top: 0.5rem;
      background-color: #f9f9f9;
      padding: 0.5rem;
      padding-bottom: 0;
      display: none; // By default, the answer is hidden
      transition: max-height 0.3s ease;

      & > p {
        margin: 0;
      }
    }

    .answer {
      padding-left: 3em;
    }
  }

  // When a question is active, modify the styles for the question and its answer
  div.active {
    button {
      &::before {
        transform: rotate(45deg); // Rotate the plus sign to make it look like a cross when active
      }
    }

    & > div {
      display: block; // Display the answer when the question is active
    }
  }
}

@media screen and (max-width: 996px) {
  .faqSupport {
    padding: 0;

    button {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .faqSupport {
    button {
      margin: .4em 0;
    }
  }
}
