// styles/faqSupport.scss

.faqSupport {
  button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    text-align: left;
    font-weight: bold;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    font-size: 1.2rem;

    &::before {
      content: "+";
      font-size: 1.2rem;
      margin-right: 1rem;
      transition: transform 0.3s ease;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  div {
    margin-bottom: 0.5rem;

    & > div {
      margin-top: 0.5rem;
      background-color: #f9f9f9;
      padding: 0.5rem;
      display: none; // By default, the answer is hidden
      transition: max-height 0.3s ease;
    }
  }

  // When a question is active, modify the styles for the question and its answer
  div.active {
    button {
      &::before {
        transform: rotate(45deg); // Rotate the plus sign to make it look like a cross when active
      }
    }

    & > div {
      display: block; // Display the answer when the question is active
    }
  }

  .supportContact {
    margin-top: 1rem;
    background-color: #f5f5f5;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
}
